* {
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: 3e485c;
    color: white;
}

brand-title{
    font-size: 1.5rem;
    margin: 0.5rem;
}